<div class="container w-100">
    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-monospace text-center"> Sejam bem vindes ao meu blog! </h1>
        </div>
    </div>

    <div class="row w-100 mt-4 mb-4">
        <div class="col-md-12">
            <p class="text-justify text-monospace">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Viverra mauris in aliquam sem fringilla ut morbi. Morbi non arcu risus quis varius. Adipiscing elit pellentesque habitant morbi tristique senectus. At quis risus sed vulputate odio. Donec adipiscing tristique risus nec feugiat in. Non enim praesent elementum facilisis leo. Facilisis magna etiam tempor orci eu. Ultricies lacus sed turpis tincidunt id aliquet risus. Faucibus pulvinar elementum integer enim neque volutpat ac tincidunt vitae.

                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Viverra mauris in aliquam sem fringilla ut morbi. Morbi non arcu risus quis varius. Adipiscing elit pellentesque habitant morbi tristique senectus. At quis risus sed vulputate odio. Donec adipiscing tristique risus nec feugiat in. Non enim praesent elementum facilisis leo. Facilisis magna etiam tempor orci eu. Ultricies lacus sed turpis tincidunt id aliquet risus. Faucibus pulvinar elementum integer enim neque volutpat ac tincidunt vitae.

                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Viverra mauris in aliquam sem fringilla ut morbi. Morbi non arcu risus quis varius. Adipiscing elit pellentesque habitant morbi tristique senectus. At quis risus sed vulputate odio. Donec adipiscing tristique risus nec feugiat in. Non enim praesent elementum facilisis leo. Facilisis magna etiam tempor orci eu. Ultricies lacus sed turpis tincidunt id aliquet risus. Faucibus pulvinar elementum integer enim neque volutpat ac tincidunt vitae.
            </p>
        </div>
    </div>

     <div class="parallax"></div>

    <div class="row mt-5 mb-5 w-100">
        <div class="col-md-12 w-100 d-flex justify-content-center">
            <button class="btn btn-outline-dark text-uppercase font-weight-bold"> Ver o feed </button>
        </div>
    </div>
    

